body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

#webcam-container {
    width: 640px;
    height: 480px;
    position: relative;
}

#result-container {
    margin-top: 20px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
}

.d-none {
    display: none;
}
